<section class="hero-content-container">
  <h1> Tailored Meal Planner</h1>
    <p class="hero-text">We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.
    </p>
    <br>

    <div class="meals-container">
    <div class="meal-box meal-box--single">
      <div class="meal-top meal-top--single">
        <h2>Meal <%= @meal_id %> </h2> 
        <div class="meal-sections meal-sections--single">
          <h4>Calories</h4>
          <h4>Protein</h4>
          <h4>Carbohydrate</h4>
          <h4>Fat</h4>
        </div>
          <a href="/build-meal-plan/edit-meal/<%= @meal_id %>/add-meal">
          <img src="/fonts/add-document.png" alt="Add File" width="25"   height="25">
          </a>
      </div>
        <div class="meal-values-container"> 
          <h5>Chicken Breast</h5>
          <div class="meal-line-values">
            <p><%= @calories_per_meal %></p>
            <p><%= @protein  %> gram </p>
            <p><%= @carb %> gram</p>
            <p><%= @fat %> gram</p>
          </div>
              <a href="build-meal-plan/edit-meal/:id/add-meal">
                <img src="/fonts/file-edit.png" alt="Edit File" width="25" height="25">
              </a>
              <a href="build-meal-plan/edit-meal">
                <img src="/fonts/trash-xmark.png" alt="Trash File" width="25" height="25">
              </a>
        </div>
      </div>
    </div>
  </div>
  <div class="meal-btn-container meal-btn-container--single-meal">
    <div class="meals-back-button">
      <a href="/build-meal-plan">Go Back</a>
    </div>
    <button href="" type="submit" class="meals-button">Get Totals</button>
  </div>
</section>