<section class="hero-content-container">
  <h1> All your meals</h1>
    <p class="hero-text">We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.
    </p>
    <br>

    <div class="meals-container">
      <% meals_count.each do |meal_id| %>
    <div class="meal-box">
      <div class="meal-top">
        <h2>Meal <%= meal_id %></h2> 
        <a href="build-meal-plan/edit-meal/<%= meal_id %>">
          <img src="/fonts/file-edit.png" alt="Edit File" width="25"   height="25">
        </a>
        <form action="/build-meal-plan/destroy-meal(id)" method="post">
          <button type="submit" class="trash-icon-button">
          <img src="/fonts/trash-xmark.png" alt="Delete File" width="25"   height="25">
          </button>
        </form>          
      </div>
        <div class="meal-bottom"> 
          <div class="meal-sections">
            <h4>Calories</h4><p>0 / <%= @calories_per_meal %> </p>
          </div>
          <div class="meal-sections">
            <h4>Protein</h4><p>0 / <%= @protein  %> </p>
          </div>
          <div class="meal-sections">
            <h4>Carbohydrate</h4><p>0 / <%= @carb %> </p>
          </div>
          <div class="meal-sections">
            <h4>Fat</h4><p>0 / <%= @fat %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <div class="meal-box">
      </div>
    </div>
  </div>
  <div class="meal-btn-container">
    <div class="meals-back-button">
      <a href="/choose-macros">Go Back</a>
    </div>
    <button href="" type="submit" class="meals-button">Get Totals</button>
  </div>
</section>

